*{
  margin: 0;
}

body{
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  color:white;
}

.App{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.app__left{
  flex: 0.9;
}

.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header >h1{
  color: #fc3c3c;
  font-size: 2rem;
}

.app__stats{
  display: flex;
  justify-content: space-between;
}
.app__dropdown .MuiInputBase-root{
  color: white !important;
  background-color: #000000 !important;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png") !important;
  border-radius: 10px !important;
}
.app__right{
  display: flex;
  flex-direction: column;
  width:30%;
  background-color: #000000 !important;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png") !important;
  color:white !important;
}

.app__rightChild{
  color: white !important;
  background-color: #000000 !important;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png") !important;
  border-radius: 20px;
}

.app__rightChild1{
  color: white !important;
  background-color: #000000 !important;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png") !important;
  border-radius: 20px;
  margin-top: 20px;
}

.app__right .MuiCardContent-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__graph{
  flex-grow: 1;
  background-color:white;
  color:black;
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 20px;
}

.app__tableTitla{
  font-size: 1.5rem;
}

.app__graphTitle{
  margin-bottom: 20px;
  font-size: 1.5rem;
}

@media (max-width: 990px) {
  .App{
    flex-direction: column;
    width:90%;
    margin: auto;
  }
  .app__right{
    margin-top: 20px;
    width: 100%;
  }
  .app__graphTitle{
    text-align: center;
  }
  .app__tableTitla{
    text-align: center;
  }
}

.blink{
  animation:blink 0.5s linear infinite;
  border: 1px solid red;
  color: red;
  padding: 3px;
}

@keyframes blink{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 1;
  }
}
